<ion-header>
    <ion-navbar>
        <logoHead></logoHead>
        <ion-title>Photo</ion-title>
        <ion-buttons end>
            <button ion-button icon-only class="headIcon" (click)="toMenu()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <input ion-input type="text" placeholder="Nom de mon album" 
           class="albumName" [(ngModel)]="albumName">
</ion-header>

<ion-content class="page">
    <div class="gallery-button" text-center>
        <!--<div>
            <ion-icon *ngIf="photoService.getSelected()" class="ionTab" 
                name="brush" [navPush]="editPhoto"></ion-icon> 
            <ion-icon class="ionTab" name="add" on-tap="openGallery()"></ion-icon>
            <ion-icon class="ionTab" name="share" on-tap="upload()"></ion-icon>
            <ion-icon *ngIf="photoService.getSelected()" class="ionTab" 
                name="trash" on-tap="onDelete()"></ion-icon> 
        </div>-->
        <!--<img 
            [src]="myImage" id='image'/>
        <button (click)="addFilter()">Filter</button>-->
        <div *ngIf="grid">
            <ion-grid>
                <ion-row *ngFor="let row of grid">
                    <ion-col *ngFor="let img of row" width-25 class="picCol">
                        <img ion-img [src]="img" class="toDisplay" 
                            [ngClass]="{selected: selected(img)}"
                            (click)="onSelect(img)" 
                            [style.width.px]="getSquareSize()" 
                            [style.height.px]="getSquareSize()"/>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>

<ion-footer class="footerBar">
    <ion-grid>
        <ion-row>
            <ion-col class="center">
                <button ion-button icon-only class="footerButton" (click)="openGallery()">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="center">
                <button ion-button icon-only class="footerButton" (click)="upload()">
                    <ion-icon name="share"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="center">
                <button ion-button icon-only class="footerButton" (click)="onDelete()">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="center">
                <button ion-button icon-only class="footerButton" (click)="print()">
                    <ion-icon name="print"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
