<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button class="styleLess"><img src="img/logo.jpg" (click)="goRoot()"/></button>
        </ion-buttons>
        <ion-title>Photo</ion-title>
        <ion-buttons end>
            <button ion-button icon-only class="headIcon" (click)="toMenu()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <input ion-input type="text" placeholder="Nom de mon album" 
           class="albumName" [(ngModel)]="albumName">
</ion-header>

<ion-content class="page" [ngClass]="{miniature: state=='print'}">
    <div class="gallery-button" text-center>
        <div *ngIf="grid">
            <ion-grid>
                <ion-row *ngFor="let row of grid">
                    <ion-col *ngFor="let img of row" width-25 class="picCol">
                        <div class="container" [ngClass]="{selected: selected(img)}" 
                             (click)="onSelect(img)">
                            <img ion-img [src]="img" class="toDisplay"
                            [style.width.px]="getSquareSize()" 
                            [style.height.px]="getSquareSize()"/>
                            <div class="middle">
                                <div class="selectedI">
                                    <ion-icon name="md-checkmark" class="selIcon"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <ion-fab *ngIf="selectedMod==true" right bottom>
        <button ion-fab mini (click)="onDelete()"><ion-icon name="trash"></ion-icon></button>
    </ion-fab>
</ion-content>
<print-info *ngIf="state=='print'"></print-info>

<ion-footer class="footerBar">
    <ion-grid>
        <ion-row>
            <ion-col class="center">
                <button ion-button icon-only class="footerButton" (click)="openGallery()"
                        [ngClass]="{disable: state!=null}">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="center">
                <button ion-button icon-only class="footerButton" (click)="upload()"
                        [ngClass]="{disable: state!=null}">
                    <ion-icon name="share"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="center">
                <button ion-button icon-only class="footerButton" (click)="setSelectMod()"
                        [ngClass]="{disable: state!='select' && state!=null}">
                    <ion-icon name="md-checkbox-outline"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="center">
                <button ion-button icon-only class="footerButton" (click)="print()"
                        [ngClass]="{disable: state!='print' && state!=null}">
                    <ion-icon name="print"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
