page-home {

}

.toDisplay{
    //width: 200px;
    //height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.selected{
    border: 5px solid #A52A2A;
}

.disable{
    opacity: 0.5;
}

.renderBlack{
    color: black;
}

.albumName{
    position: relative;
    text-align: center !important;
    width: 100%;
    font-size: 25px;
    border: none;
    padding-bottom: -15px;
}

.center{
    text-align: center;
}

.footerButton{
    background-color: #be093b;
}

.footerButton:active, .footerButton-on, .footerButton:focus {
    background-color: #a70834;
}

.picCol{
    padding: 1px !important;
}

.footerBar{
    background-color: #FFFFFF;
}