<ion-header>
    <ion-navbar>
        <ion-title>Panier</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row style="text-align: center">
            <ion-col>
                <div>Title  |<button class="delButton">Supprimer</button></div>
                <img ion-img src="./img/logo.jpg" class="toDisplay"
                     [style.width.px]="getSquareSize()" 
                     [style.height.px]="getSquareSize()"/>
                <div class="price">
                    42,00 €
                </div>
            </ion-col>
            <ion-col>
                <ion-list no-lines class="choiceList">
                    <ion-item class="choiceItem">
                        <ion-select placeholder="Format" [(ngModel)]="formatChoose"
                                    [selectOptions]="formatOptions" class="singleChoice">
                            <ion-option *ngFor="let format of formats" value={{format}}>{{format}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item class="choiceItem">
                        <ion-select placeholder="Autre"
                                    [selectOptions]="autreOptions" class="singleChoice">
                            <ion-option></ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item class="choiceItem">
                        <!--<ion-select placeholder="Quantité" [(ngModel)]="quantity"
                                    [selectOptions]="quantityOptions" class="singleChoice">
                            <ion-option *ngFor="let i of quantities" value={{i}}>{{i}}</ion-option>
                        </ion-select>-->
                        <input type="number" placeholder="Quantité" [(ngModel)]="quantity" class="singleChoice">
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

