sharePop{
    .popoTitle, .popoButton{
        text-align: center;
    }
    
    .popoTitle{
        border-bottom: 1px solid black;
        padding: 10px;
        font-size: 24px;
    }
    
    .confirmButton{
        background-color: #a70834;
    }
}