.plusHead{
    background-image: url('../img/plusHead.jpg');
    padding: 30px 0px 35px 0px;
    width: 120%;
    margin-left: -10%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.plusGrid{
    text-align: center;
}

.title, .titleText, .priceSel{
    color: #FFFFFF !important;
}

.title{
    font-size: 40px;
}

.titleText{
    padding-top: 5px;
    font-size: 12px;
}